@media print {
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 600px;
  }

  td,
  th {
    border: 1px solid #616161;
    padding: 8px;
    text-align: center;
  }

  td.numero,
  th.numero {
    border: 1px solid #616161;
    padding: 8px;
    text-align: center;
    width: 30px;
  }

  td.cantidad,
  th.cantidad {
    border: 1px solid #616161;
    padding: 8px;
    text-align: center;
    width: 40px;
  }

  tr:nth-child(even) {
    background-color: #EEEEEE;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: #BDBDBD;
    font-weight: bold;
  }
}